<div class="container-fluid">
  <div class="form-login">

    <form class="form-group p-2">
      <div class="text-center">
        Faça seu login
      </div>

      <div class="input-field">
        <label class="control-label active">Digite seu Nome:</label>
        <input type="text" class="form-control">
      </div>
      <div class="input-field">
        <label class="control-label active">Digite sua senha</label>
        <input type="text" class="form-control">
      </div>

      <div class="btn">
        <button class="btn">Continuar</button>
      </div>
    </form>

  </div>
</div>
