.container{
  background-image: url("./assets/Rectangle.png");
  background-color: 8C52E5;
  height: 900px;
  width: 1700px;
}
.img-home{
  width: 773px;
  height: 642px;
  top: 259;
  left: 310px;
}
