<div class="container-fluid">
  <div class="row row-cols-2">
    <div class="col-left">
      <h1 class="digital-txt">Conta Digital do Gama Academy</h1>
      <img class="img-a" src="../../../assets/app-bg 1.png" />
      <h2 class="desc-digital">
        Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas
      </h2>
    </div>
    <div class="col-right">
      <h2>Cartão de Crédito</h2>
      <img class="img-b" src="../assets/app-bg 2.png" />
      <h2 class="desc-card">
        Rende mais que poupança, sem taxa de manutenção nem tarifas escondidas
      </h2>
    </div>
  </div>
</div>
