<div class="container-fluid">
  <div class="sidebar">
    <ul class="nav flex-column">
      <img src="../assets/gama-logo-dash.png">
      <div class="card" type="button" style="width: 8rem;">
        <span class="material-icons">
          api
          </span>
        <div class="card-body">
          <p class="card-text">Depósito</p>
        </div>
      </div>
      <div class="card" type="button" style="width: 8rem;">
        <span class="material-icons">
          api
          </span>
        <div class="card-body">
          <p class="card-text">Planos</p>
        </div>
      </div>
      <div class="card" type="button" style="width: 8rem;">
        <span class="material-icons">
          api
          </span>
        <div class="card-body">
          <p class="card-text">Pagamentos</p>
        </div>
      </div>
      <div class="card" type="button" style="width: 8rem;">
        <span class="material-icons">
          api
          </span>
        <div class="card-body">
          <p class="card-text">Transações</p>
        </div>
      </div>
      <div class="card" type="button" style="width: 8rem;">
        <span class="material-icons">
          api
          </span>
        <div class="card-body">
          <p class="card-text">Depósito</p>
        </div>
      </div>
    </ul>
  </div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</div>
>
