<div class="container-fluid">
  <div >
      <img src="assets/gama-academy.png">
  </div>
  <div class="text-home">
    Gama Bank é um
    projeto de nossos
    alunos.
    <br><br>
    Já tem conta?
  </div>
      <div class="btn-access" >
      <button class="btn">Acessar</button>
      <i class="bi bi-arrow-right-short"></i>
    </div>
  <div>
    <img class="img-home"src="../assets/happy.png">
  </div>
  <div class="form-home">
    <div class="text-center">
      Peça sua conta e cartão de crédito do Gama Bank
    </div>
    <form class="form-group p-2">

        <div class="input-field">
          <label class="control-label active">Digite seu CPF:</label>
          <input type="text" class="form-control">
        </div>
        <div class="input-field">
          <label class="control-label active">Escolha um nome de usuário:</label>
          <input type="text" class="form-control">
        </div>
        <div class="input-field">
          <label class="control-label active">Nome completo:</label>
          <input type="text" class="form-control">
        </div>
        <div class="input-field">
          <label class="control-label active">Digite sua senha:</label>
          <input type="text" class="form-control">
        </div>
        <div class="input-field">
          <label class="control-label active">Confirme sua senha:</label>
          <input type="text" class="form-control">
        </div>
        <div class="btn">
        <button class="btn btn-continue">Continuar</button>
        </div>
    </form>

  </div>
</div>



