@import url("https://fonts.googleapis.com/css?family=Roboto");

.container-fluid{
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;

  background: #8C52E5;
}

.card-acount{
  position: absolute;
  width: 407.8px;
  height: 255.05px;
  left: 243px;
  top: 145px;

  background: #FBFBFB;
  border-radius: 8px;
}

.card-credit{
  position: absolute;
  width: 407.8px;
  height: 255.05px;
  left: 747.2px;
  top: 145px;

  background: #FBFBFB;
  border-radius: 8px;
}

.card-moviment{
  position: absolute;
  width: 907.55px;
  height: 396px;
  left: 247.45px;
  top: 450px;

  background: #FBFBFB;
  border-radius: 8px;
}
.card-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #9B9B9B;

}

.material-icons{
  color: #9B9B9B;
}
.card-text-saldo{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;

color: #010101;

}
.card-text-transacoes{

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #68DE5A;

}

.card-text-limite{

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #68DE5A;

}

.card-text-fatura{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;

  color: #1783E7;

}
