.container{
  background-image: url("../assets/Rectangle.png");
  background-color: 8C52E5;
  height: 900px;
  width: 1440px;
}
.img-home{
  width: 773px;
  height: 642px;
  top: 400;
  left: 310px;
  fill: image;
  scale: Fill
}
